#search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input{
  margin: 0.5rem;
  height: 2rem;
}

input:focus {
  border-color: blue;
}

.search-page-button {
  color: white;
  background-color: blue;
  cursor: pointer;
  height: 2rem;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 0.5rem;
}

.error{ 
  color: red;
  font-size: 1rem;
}